


@media screen and (max-width: 600px) {

    .home-container {
        margin-top: 12%;
        min-height: 100%;
    }

    .home-img {
        max-width: 100%;
        margin-bottom: -10px;
    }

    

    .divider {
        background: #1E2D40;
        
        height: 50px;
        position: relative;
        z-index: 10;
    
    }

    .quote-signature {
        margin-top: 15%;
        margin-left: 25%;
        font-size: 3rem;
        position: absolute;
        z-index: 15;
        color: #1E2D40;
    }

    .quote-text {
        margin-left: 5%;
        margin-right: 5%;
        position: absolute;
        font-size: 1.2rem;
        
        font-weight: 700;
        font-style: italic;
        z-index: 15;
        color: #1E2D40;
    
    }

    .quote-signature {
        font-size: 1.6rem;
        margin-top: 30%;
        margin-left: 45%;
        
    }

    .quote-img {
        width: 100%;
        position: relative;
        z-index: 5;
        opacity: 0.9;
        filter:brightness(1.4)
    }

    .circle {
        width: 50%;
        margin: 0 25%;
    }

    .endorsement-container {
        width: 75%;
        margin: 3% 12.5%;
        background-color: white;
        text-align: center;
        padding: 1%
    }

    .endorsement-title {
        margin: 0;
        font-size: 3rem;
    }

    .endorsement-text {
        color: #1E2D40;
        font-size: 1.5rem;
        margin-bottom: 4%;
    }

    .endorsement-img-container {
        width: 75%;
        margin: 0 12.5% 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .endorsement-img {
        width: 20%;
    }

}

@media screen and (min-width: 601px) {

    .home-container {
        margin-top: 12%;
        min-height: 100%;
    }

    .home-img {
        max-width: 100%;
        margin-bottom: -10px;
    }

    .divider {
        background: #1E2D40;
        
        height: 75px;
        position: relative;
        z-index: 10;
    
    }

    .quote-text {
        margin-left: 5%;
        margin-right: 5%;
        position: absolute;
        font-size: 2.5rem;
        
        font-weight: 700;
        font-style: italic;
        z-index: 15;
        color: #1E2D40;
    
    }

    .quote-signature {
        margin-top: 25%;
        margin-left: 55%;
        font-size: 2.5rem;
        position: absolute;
        z-index: 15;
        color: #1E2D40;
    }

    .quote-img {
        width: 100%;
        position: relative;
        z-index: 5;
        opacity: 0.9;
        filter:brightness(1.4)
    }

    .endorsement-container {
        width: 75%;
        margin: 3% 12.5%;
        background-color: white;
        text-align: center;
        padding: 1%
    }

    .endorsement-title {
        margin: 0;
        font-size: 3rem;
    }

    .endorsement-text {
        color: #1E2D40;
        font-size: 1.5rem;
        margin-bottom: 4%;
    }

    .endorsement-img-container {
        width: 75%;
        margin: 0 12.5% 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .endorsement-img {
        width: 20%;
    }
}

@media screen and (min-width: 925px) {
    .home-container {
        margin-top: 0;
        min-height: 100%;
    
    }
    
    .home-img {
        max-width: 100%;
        margin-bottom: -10px;
    }
    
    .divider {
        background: #1E2D40;
        
        height: 150px;
        position: relative;
        z-index: 10;
    
    }
    
    .quote-text {
        margin-left: 5%;
        margin-right: 5%;
        position: absolute;
        font-size: 3rem;
        
        font-weight: 700;
        font-style: italic;
        z-index: 15;
        color: #1E2D40;
    
    }
    
    .quote-signature {
        margin-top: 15%;
        margin-left: 65%;
        font-size: 3rem;
        position: absolute;
        z-index: 15;
        color: #1E2D40;
    }
    
    
    
    .quote-img {
        width: 100%;
        position: relative;
        z-index: 5;
        opacity: 0.9;
        filter:brightness(1.4)
    }

    .endorsement-container {
        width: 75%;
        margin: 3% 12.5%;
        background-color: white;
        text-align: center;
        padding: 1%
    }

    .endorsement-title {
        margin: 0;
        font-size: 3rem;
    }

    .endorsement-text {
        color: #1E2D40;
        font-size: 1.5rem;
        margin-bottom: 4%;
    }

    .endorsement-img-container {
        width: 75%;
        margin: 0 12.5% 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .endorsement-img {
        width: 20%;
    }
    }